body,html{
	height: 100%;
	
	color:#fcfcfc;

	background-color:#355664;
	
	font-family:Arial, Helvetica, sans-serif;
	margin: 0;
}

.container{
	height: 80%;
	margin-top: 8vw;
	}

	.main{
	background-color:#213E4A;
	margin:1em 0;
	padding:25px;
	
	text-shadow:0 2px 0 black;
	border-radius: 3%;

}
.container > div { min-height: 450px; }

#fix{
	
	min-height:300px; 
	
}
.scroll{
	width: 95px;
}
/*audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}*/



audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-volume-slider {
	display: none;
}

audio::-webkit-media-controls-panel {
	background: black;
  border-radius: 0;
}

audio::-webkit-media-controls-timeline {
	background: white;
	height: 1px;
  margin-left: 15px;
}

audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-current-time-display {
  color: white;
}
