{% extends "base_faceslide.html" %}


{% block title %}

{{v_id}}

{% endblock %}

{% block css %}
  
  <style type="text/css">

        body{
          background-color:#355664;
        }
        audio{
          width: 100%;
        }

        /*audio:hover {
          width: 520px !important;
        }*/

  </style>

{% endblock %}

{% block content %}

        <div class="container">

            <div class="row main" id='player'>


                <div class="tile is-ancestor">
                  <div class="tile is-4 is-vertical is-parent">
                    <div class="tile is-child notification is-danger">
                      
                      <div class=" pre-scrollable" id="fix">
                            <p id="text" class="scroll" style="width:100%"></p><br>
                      </div>
                    </div>

                    <div class="tile is-child ">
                        <video id="movie_video" style="width:100%"  muted>
                                              <source src="" type="video/mp4">
                                    
                        </video>
                      
                    </div>
                  </div>

                  <div class="tile is-parent">
                    <div class="tile is-child notification is-primary">
                          <figure class="image is-4by3">
                            <img id='movie_img' src="">
                          </figure>
                    </div>
                    </div>
                  </div>


                  <audio id='mp3_player' style="width:100%" controls ontimeupdate="run_vid(this.currentTime)">
                        <source src="{{audio_file}}" type="audio/ogg">
                          
                  </audio>
          
            </div>

        </div>

  


        

{% endblock %}

{% block script %}
  
  <script src="http://popcornjs.org/code/dist/popcorn-complete.min.js"></script>
    
  <script>

    var data_json = {{data_json|safe}};
    var _image = $('img')[0];
    var _video = $('video')[0];
    //initial slide 
    for (i = 0; i < data_json.length; i++) { 
      if (data_json[i][1] == 'slide'){
        var img_src=data_json[i][2]
        $('#movie_img').attr('src',img_src);
        break;
      }
    }  

    for (i = 0; i < data_json.length; i++) { 
      if (data_json[i][1] == 'face'){
        var face_src=data_json[i][2]
        $('#movie_video').attr('src',face_src);
        break;
      }
    }  
    function run_vid(time){
            
            time_now = Math.floor(time)+1;
            
            for (i = 0; i < data_json.length; i++) { 
                
                if (data_json[i][0] == time_now){
                    if (data_json[i][1] == 'slide'){
                      var img_src=data_json[i][2]
                      $('#movie_img').attr('src',img_src);
                    }
                    if (data_json[i][1] == 'face'){
                      var face_src=data_json[i][2]
                      $('#movie_video').attr('src',face_src);
                      playVid()
                    }
                    if (data_json[i][1] == 'text'){
                      var text_src=data_json[i][2]
                      
                      $('#text').append( text_src );
                      $('#text').append( "<br>" );
                      $('#text').scrollTo( '100%' );
                    }
                }
            }
    }

    function playVid() { 
      var vid = document.getElementById("movie_video"); 
      vid.play(); 
    } 
    function pauseVid(){
      var vid= document.getElementById("movie_video");
      vid.pause();
    }
    document.getElementById('mp3_player').addEventListener("pause",function() {
      pauseVid();
      })
    document.getElementById('mp3_player').addEventListener("play",function() {
      playVid();
      })
    
  </script>  
  

{% endblock %}
 